.root {
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    display: flex;
}

.paper {
    padding: 20px;

    h4 {
        text-align: center;
    }
}

.actions {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    width: fit-content;
    margin: auto;
    flex-wrap: wrap;
    > * {
        margin: auto;
        margin-top: 10px;
        margin-inline: 10px;
    }
}
