.fab {
    position: absolute;
    bottom: 15px;
    right: 15px;
}

.container {
    width: 100%;


}

.edit {
    padding: 20px;

    form {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        > * {
            margin: auto;
            flex-grow: 1;
        }
    }
}

.userpass {
    display: flex;
    flex-direction: column;
}
